<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 我的 ASP.NET MVC 应用程序</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css/templatemo_style.css")
    @Styles.Render("~/Content/css/nivo-slider.css")
    @Styles.Render("~/Content/css/ddsmoothmenu.css")
    @Scripts.Render("~/Scripts/js/jquery.min.js")
    @Scripts.Render("~/Scripts/js/ddsmoothmenu.js")
</head>
<body>
    <center>
        <div id="templatemo_body_wrapper">
            <div id="templatemo_wrapper">
                <header>
                    @{Html.RenderAction("Top", "WebTemplate");}
                </header>
                <div class="copyrights">Collect from <a href="http://sc.putaojiayuan.com/" title=""></a></div>
                @RenderBody()
                <footer>
                    @{Html.RenderAction("Foot", "WebTemplate");}
                </footer>
            </div>
            <!-- END of templatemo_wrapper -->
        </div>
        <!-- END of templatemo_body_wrapper -->
    </center>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
