<div id="templatemo_main">
    @{Html.RenderAction("Left", "WebTemplate");}

    <div id="content" class="float_r">
        <div id="slider-wrapper">
            <div id="slider" class="nivoSlider">
                @if (ViewData["BindAd"] != null)
                {
                    foreach (var BindAd in (ViewData["BindAd"] as List<JY.Model.Advert>))
                    {
                        <a href="@BindAd.AdvertUrl " target="_blank">
                            <img src="Admin/Upfile/@BindAd.AdvertPic /" width="680px" height="300px" alt="@BindAd.AdvertName " title="@BindAd.AdvertName" />
                        </a>
                    }

                }

            </div>

            <!--
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
            </div>
            -->
        </div>

        @Scripts.Render("~/Scripts/js/jquery-1.4.3.min.js")
        @Scripts.Render("~/Scripts/js/jquery.nivo.slider.pack.js")
        <script type="text/javascript">
            $(window).load(function () {
                $('#slider').nivoSlider();
            });
        </script>
        <h1>新品上市</h1>
        @if (ViewData["getProductHot"] != null)
        {
            foreach (var getProductHot in (ViewData["getProductHot"] as List<JY.Model.Product>))
            {
                <div class="product_box">
                    <h3 style="text-align: center">@Collections.publicHandle.GetSubstring(getProductHot.ProductName, 16, "...")</h3>
                    <a href='Productdetail.aspx?id=@getProductHot.ID'>
                        <img src="Admin/Upfile/@getProductHot.ProductPic" alt="Shoes 1" style="width: 200px; height: 150px;" />
                    </a>
                    <p class="product_price"><s>市场价：￥ @getProductHot.MarketPrice</s></p>
                    <p class="product_price">本网站价：￥ @getProductHot.WebsitePrice</p>
                    <a href='Shoppingcart.aspx?Productid=<%#Eval("Id") %>&num=1' class="addtocart"></a>
                    <a href='Productdetail.aspx?id=<%#Eval("Id") %>' class="detail"></a>
                </div>
            }

        }


        <div class="cleaner"></div>

    </div>
    <div class="cleaner"></div>

</div>



